// Use this file as a starting point for your project's .eslintrc.
// Copy this file, and add rule overrides as needed.
{ "root": true
, "extends": "airbnb"
, "env": { "jest": true
         , "browser": true
         }
, "rules": { "linebreak-style": ["error", "windows"]
           // Only warn when classes are used without constructors.
           , "react/prefer-stateless-function": ["warn", {"ignorePureComponents": true}]
           // Stop the requirement for spaced comments (messes up commented-out code).
           , "spaced-comment": "off"
           // Stop throwing error when default export isn't used on single export.
           , "import/prefer-default-export": "off"
           // Functions must have uniform breaking behavior.
           , "function-paren-newline": ["error", "consistent"]
           // Object curlys must have uniform break behavior.
           , "object-curly-newline": ["error", { "consistent": true }]
           // Enforce max-lengths.
           , "max-len": ["error", { "code": 80, "comments": 80, "ignoreTrailingComments": true }]
           // Enforce newlines for multiple function chaining
           , "newline-per-chained-call": ["error", { "ignoreChainWithDepth": 2 }]
           }
}