@import '../../theme/colors';

.BlogBody {
  height: 100%;
  overflow: auto;
  background-color: $color-neutralLight;
  box-sizing: border-box;

  &__content {
    width: 700px;
    max-width: 100%;
    min-height: 100%;
    margin: auto;
  }
}